* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: black;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.slider-container {
  margin: 10px 0;
  width: 100%;
}

.slider {
  width: 100%;
}

.num-container,
.extent-container {
  width: 100%;
  margin: 0 auto;
}

.num,
.extent {
  width: 100%;
  text-align: center;
  background: white;
  color: black;
  font-size: 2rem;
  margin: 5px 0;
  border: none;
  outline: none;
  cursor: not-allowed;
  border-radius: 2px;
}